$bgColor : red;
$font-h1 : 28px;
// list>nth - list 관련 내장함수 중 nth
$valid-sides: left, center, right;
// map
$font-sizes: ("myh1": 45px, "myh2": 19px, "myp": 16px);

h1 {
    // 지역변수는 안에서만 사용 가능
    // 지역변수를 전역으로 사용할 수 있는 방법이 있지만 다른 변수와 충돌할 수 있어 지양함
    // ex) $spanColor: blue !global;
    $spanColor: blue;
    color: $bgColor;
    // font-size: $font-h1;
    // map>get 활용
    // font-size : map-get($font-sizes, "myh1");
    // 연산하는 방법
    font-size : map-get($font-sizes, "myp") * 2;

    span {
        color: $spanColor;
    }
}

// list>nth - list 관련 내장함수 중 nth 활용
// 음수로 index 입력하면 우측부터 순서 체크 됨
p {
    text-align: nth($valid-sides, 2);
}